version: 2

workflows:
  version: 2
  test-publish:
    jobs:
      - test-node8:
          filters:  # required since `deploy` has tag filters AND requires `build`
            tags:
              only: /.*/
      - test-node10:
          filters:  # required since `deploy` has tag filters AND requires `build`
            tags:
              only: /.*/
      - test-node-latest:
          filters:  # required since `deploy` has tag filters AND requires `build`
            tags:
              only: /.*/
      - publish:
          requires:
            - test-node8
            - test-node10
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/

defaults: &defaults
  working_directory: ~/opentmi
  docker:
	  - image: circleci/node:8.12.0-browsers
  steps:
    - checkout
    - run: node --version > _tmp_file
    - restore_cache:
        key: dependency-cache-{{ checksum "_tmp_file" }}-{{ checksum "package-lock.json" }}
    - run:
        name: install mongodb-org-tools
        command: |
          sudo npm install -g mongodb-prebuilt
    - run:
        name: versions
        command: |
          mongorestore --version
          node --version
          npm --version
          echo $NPM_CI_INSTALL
    - run:
        name: npm-install
        command: |
          npm $NPM_CI_INSTALL
          sudo npm install -g grunt-cli

    - save_cache:
        key: dependency-cache-{{ checksum "_tmp_file" }}-{{ checksum "package-lock.json" }}
        paths:
          - ./node_modules
    - run:
        name: test-node
        command: npm test
        environment:
          REPORTER: mocha-circleci-reporter
          MOCHA_FILE: junit/test-results.xml
    - run:
        name: coveralls
        command: cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
    - run:
        name: test-api
        command: |
          MOCHA_FILE=junit/apitests.xml grunt apitests --silent
          MOCHA_FILE=junit/clustertests.xml grunt clustertests --silent
    - run:
        name: lint
        command: npm run lint
        when: always
    - store_test_results:
        path: junit
    - store_artifacts:
        path: junit
    - store_artifacts:
        path: db.log
        destination: mongolog
    - store_artifacts:
        path: docs
        destination: documentations
    - store_artifacts:
        path: coverage
        destination: coverage
    - store_test_results:
        path: coverage/coverage.json
jobs:
  test-node8:
    <<: *defaults
    docker:
    - image: circleci/node:8.12.0-browsers
      environment:
       CHROME_BIN: "/usr/bin/google-chrome"
       NODE_ENV: test
       NPM_CI_INSTALL: "install"
    - image: mongo:4.1.2
  test-node10:
    <<: *defaults
    docker:
    - image: circleci/node:10-browsers
      environment:
       CHROME_BIN: "/usr/bin/google-chrome"
       NODE_ENV: test
       NPM_CI_INSTALL: "install"
    - image: mongo:4.1.2
  test-node-latest:
    <<: *defaults
    docker:
    - image: circleci/node:latest-browsers
      environment:
       CHROME_BIN: "/usr/bin/google-chrome"
       NODE_ENV: test
       NPM_CI_INSTALL: "install"
    - image: mongo:4.1.2
  publish:
    <<: *defaults
    steps:
      - checkout
      - run: node --version > _tmp_file
      - restore_cache:
          key: dependency-cache-{{ checksum "_tmp_file" }}-{{ checksum "package-lock.json" }}
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: echo npm publish
