{
  "FACEBOOK_CLIENTID": "ID",
  "FACEBOOK_SECRET": "SECRET",
  "TWITTER_CLIENTID": "ID",
  "TWITTER_SECRET": "SECRET",
  "GITHUB_CLIENTID": "ID",
  "GITHUB_SECRET": "SECRET",
  "LINKEDIN_CLIENTID": "ID",
  "LINKEDIN_SECRET": "SECRET",
  "EMAIL_DOMAIN": "domain.com",
  "GOOGLE_CLIENTID": "ID",
  "GOOGLE_SECRET": "SECRET",
  "GITHUB_ORG": "ORGANIZATION",
  "GITHUB_ADMINTEAM": "ADMIN-TEAM"
}
