{
  "FACEBOOK_CLIENTID": "ID",
  "FACEBOOK_SECRET": "SECRET",
  "TWITTER_CLIENTID": "ID",
  "TWITTER_SECRET": "SECRET",
  "GITHUB_CLIENTID": "ID",
  "GITHUB_SECRET": "SECRET",
  "GITHUB_TOKEN": "TOKEN",
  "GITHUB_ORG": "ORGANIZATION",
  "GITHUB_ADMINTEAM": "ADMIN-TEAM",
  "GITHUB_CBURL": "",
  "LINKEDIN_CLIENTID": "ID",
  "LINKEDIN_SECRET": "SECRET",
  "GOOGLE_CLIENTID": "ID",
  "GOOGLE_SECRET": "SECRET",
  "FILE_DB": "/mnt/data",
  "JENKINS_URL": "https://user:token@my-jenkins.com",
  "SLACK_TOKEN": "",
  "SLACK_ALLOWED_CHANNELS": []
}
