{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ testcase.title }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>{{ testcase.body }}</p>
      <div class="meta">
        {% if (article.user) %}
          Author: &nbsp;
          <a href="{{ '/users/' + testcase.user._id }}">
            {{ testcase.user.name || testcase.user.username }}
          </a>
        {% endif %}
        {% if (testcase.tags) %}
          <p>
            Tags: &nbsp;
            {% for tag in testcase.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
          </p>
        {% endif %}
        <span class="muted">{{ testcase.createdAt.toISOString()|date('M d, Y  h:m a') }}</span>
      </div>
    </div>
    <div class="col-md-4">
      {% if (!testcase.isNew && testcase.image && testcase.image.files && testcase.image.files.length) %}
        <img src="{{ testcase.image.cdnUri + '/mini_' + testcase.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>

  <form action="{{ '/testcases/' + testcase.id }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="{{ '/testcases/' + testcase._id + '/edit' }}" title="edit" class="btn btn-default">
      Edit
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>

  <br>
  <h3>Comments</h3>
  {% for comment in testcase.comments %}
    {% include '../comments/comment.html' %}
  {% endfor %}
  {% include '../comments/form.html' %}
{% endblock %}
