<div class="testcase">
  <h3>
    <a href="{{ '/testcases/' + testcase._id }}" title="{{ testcase.title }}">
      {{ testcase.title }}
    </a>
  </h3>
  <p>{{ testcase.body }}</p>

  <span class="muted">{{ testcase.createdAt.toISOString()|date('M d, Y  h:m a') }}</span>

  {% if (testcase.user) %}
    &nbsp; - &nbsp;
    <span>Author: </span>
    <a href="{{ '/users/' + testcase.user._id }}">
      {{ testcase.user.name || testcase.user.username }}
    </a>
  {% endif %}

  {% if (testcase.tags) %}
    &nbsp; - &nbsp;
    <span>Tags: </span>
    {% for tag in testcase.tags.split(',') %}
      <i class="muted fa fa-tag"></i>&nbsp;
      <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
      &nbsp;&nbsp;
    {% endfor %}
  {% endif %}
</div>
